/*[ FONT ]*/

@font-face {
  font-family: Raleway-Black;
  src: url('../fonts/raleway/Raleway-Black.ttf'); 
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url('../fonts/raleway/Raleway-SemiBold.ttf'); 
}

@font-face {
  font-family: Raleway-Bold;
  src: url('../fonts/raleway/Raleway-Bold.ttf'); 
}

body, html {
    height: 100%;
	font-family: Raleway-SemiBold, sans-serif;
}

.back {
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
  }

  .square1 {
  
    background: #fff;
    border-radius: 5px;
    padding: 26px 50px 26px 50px;
    /*position: left;*/
    margin: 50px;
  }

  /* Clear floats after the columns */
.square1:after {
    content: "";
    display: table;
    clear: both;
  }


  /*.square2 {
    width: 450px;
    background: #fff;
    border-radius: 5px;
    padding: 26px 95px 26px 95px;
    /*position: left;
    margin: 50px;
  }*/

#tittle{
    color: #ffffff;
    text-align: center;
    font-family: Raleway-Bold;
}

#subtitle{
    color: #000;
    text-align: center;
    font-size: 28px;
    font-family: Raleway-Bold;
}

.control-pannel{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    align-content: center;
}
.input-pannel{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
}
.butt{
    width: 60px;
    height: 60px;
    border: none;
    background-color: #fff
}
/*.butt-form{
    color: #ffffff;  
    background-color: #433313;   
    width: 60px;
    height: 40px;
    font-family: Raleway-Bold;
    font: bold;
    font-size: 4mm;
    border: none;
}*/
.l1{
    padding-left: 65px;
}
/*.l3{
    padding-left: 65px;
}*/

.distance{
    cursor: pointer;
    width: 40px;
    height: 30px;
    font-size: 12px;
}

#fname{
    cursor: pointer;
    width: 85px;
    height: 30px;
    font-size: 12px;
    margin-right: 3px;
    margin-inline-start: 20px;
}

label{
    font-family: Raleway-SemiBold;
    font-size: 18px;
    color: #555555;
    line-height: 1.5;
    width: 5%;
  }

#log-msg{
    overflow: scroll;
    font-family: Consolas;
}

.column {
    float: left;
    padding: 10px;
  }

.left {
    width: 20%
}
.middle, .right {
    width: 35%;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.5;
    height: 400px;
    background-color: #ccc;
    border-radius: 10px;
}

#right-pannel{
    margin-top:0px;
    margin-right: auto;
    line-height: 1.5;
    height: 400px;
    background-color: #b5e2ea;
    border-radius: 10px;
}

h3{
    text-align: center;
}