<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/willy.css">

</head>
<body>
<div class="back" style="background-image: url('../static/images/bg-01.jpg');">
    <h2 id="tittle">
        Willy Control Interface (WCI)
    </h2>

    <div class="square1">
        <!--h2 id="subtitle"> Control Pannel </h2-->
        <div id="left-pannel">
            <div class="control-pannel">
                <div class="l1">
                    <button class="butt" id="btn-fw"><img src="../static/images/icons/fw.png" height="50px" width="50px"/></button>
                </div>
                <div class="l2">
                    <button class="butt" id="btn-lf"><img src="../static/images/icons/lf.png" height="50px" width="50px"/></button>
                    <button class="butt" id="stop"><img src="../static/images/icons/stop.png" height="50px" width="50px"/></button>
                    <button class="butt" id="btn-rg"><img src="../static/images/icons/rg.png" height="50px" width="50px"/></button>
                </div>
                <div class="l3">
                    <button class="butt" id="btn-bw"><img src="../static/images/icons/bw.png" height="50px" width="50px"/></button>
                </div>
            </div>
            <div class="input-pannel">
                <form id="distanceForm">
                    <label for="fname">Distance: </label>
                    <input type="text" class="distance" id="distanceX" name="distanceX" placeholder="X">
                    <input type="text" class="distance" id="distanceY" name="distanceY" placeholder="Y">
                    <input type="image" alt="Submit" value="Go!" class="butt-form" src="../static/images/icons/go.jpeg" height="50px" width="50px">
                </form>
                <br>
                <form id="rotateForm">
                        <label for="fname">Rotate: </label>
                        <input type="text" id="fname" name="rotate" placeholder="Degress">
                        <input type="image" alt="Submit" value="Go!" class="butt-form" src="../static/images/icons/go.jpeg" height="50px" width="50px">
                    </form>
            </div>
        </div>       
        <div class="log-pannel" id="log-msg">
            <h3>Log pannel</h3>
        </div>
        <div id="right-pannel">
            <h3></h3>
        </div>
    </div>
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>

    <script type="text/javascript">
        $('button#btn-fw').click(function(){
          $.ajax({
              url: "/FW/",
              type: "POST",
              success: function(resp){
                  $('div#log-msg').append(resp.data);
              }
          });
        });
        $('button#btn-bw').click(function(){
          $.ajax({
              url: "/BW/",
              type: "POST",
              success: function(resp){
                  $('div#log-msg').append(resp.data);
              }
          });
        });
        $('button#btn-lf').click(function(){
          $.ajax({
              url: "/left/",
              type: "POST",
              success: function(resp){
                  $('div#log-msg').append(resp.data);
              }
          });
        });
        $('button#btn-rg').click(function(){
          $.ajax({
              url: "/right/",
              type: "POST",
              success: function(resp){
                  $('div#log-msg').append(resp.data);
              }
          });
        });
        $('button#stop').click(function(){
          $.ajax({
              url: "/stop/",
              type: "POST",
              success: function(resp){
                  $('div#log-msg').append(resp.data);
              }
          });
        });
        $(document).ready(function() {
            $('form#distanceForm').on('submit', function(event) {
            $.ajax({
                data : {
                    x : $('#distanceX').val(),
                    y: $('#distanceY').val(),
                        },
                    type : 'POST',
                    url : '/distance'
                    })
                .done(function(data) {
                $('div#log-msg').text(resp.data).show();
            });
            event.preventDefault();
            });
        });
    </script>
</div>
</body>
</html>